/**
 * Puzzle styles
 */

.puzzle {
    align-items: center;
    background: #ccc;
    border-radius: 5px;
    display: table;
    margin: 0 auto;
    padding: 50px;
}

.puzzle table {
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #666;
    margin: 0 auto;
}

.puzzle table tr:last-child {
    border-bottom: none;
}

.puzzle table tr td {
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid rgba(102, 102, 102, .5);
}

.puzzle table tr td.hide {
    color: transparent;
    background: rgba(242, 242, 242, .3);
}